/env
.*
!.git*
!.editorconfig
src/groovy
*keystore*
build/
bin/
target/
out/
data-store/
*.db
*.iml
*.ipr
*.iws
scripts/bootstrap_folio_test.sh
scripts/bootstrap_folio_test2.sh
scripts/bootstrap-*
/myScripts
