<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

<!-- Uncomment as you need but please don't commit with these turned on-->
<!--	<logger name="io.micronaut.http.client" level="TRACE"/>-->
<!--	<logger name="io.micronaut.data.query" level="TRACE"/>-->
<!--	<logger name="io.r2dbc.postgresql.QUERY" level="DEBUG"/>-->
<!--	<logger name="org.mockserver" level="TRACE"/>-->
<!--	<logger name="org.olf.dcb.core.interaction.folio" level="TRACE"/>-->
<!--	<logger name="org.mockserver" level="WARN"/>-->
<!--	<logger name="org.flywaydb" level="DEBUG"/>-->
<!--	<logger name="org.flyway" level="DEBUG"/>-->
<!--	<logger name="io.micronaut.flyway" level="DEBUG"/>-->
<!--	<logger name="io.micronaut.security" level="DEBUG"/>-->
<!--	<logger name="com.zaxxer.hikari.HikariDataSource" level="WARN"/>-->
<!--	<logger name="org.testcontainers" level="WARN"/>-->
<!--	<logger name="io.micronaut.org.testcontainers" level="WARN"/>-->
<!--	<logger name="io.micronaut.context.lifecycle" level="WARN"/>-->

	<logger name="org.olf.dcb" level="DEBUG"/>
	<logger name="org.olf.dcb.tracking" level="DEBUG"/>
	<logger name="org.olf.dcb.rules" level="TRACE"/>
	<logger name="services.k_int" level="DEBUG"/>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
