services:
  elasticsearch:
    # THIS IMAGE IS BUILD AND PUBLISHED FROM THE KI-OKAPI-GITOPS REPO - docker-buildfiles subdir
    #  
    # image: docker.elastic.co/elasticsearch/elasticsearch:8.7.0  # Use latest version available
    image: docker.libsdev.k-int.com/knowledgeintegration/folio-es:8.7.0  # Use latest version available
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=elastic
      - ELASTICSEARCH_PLUGINS=analysis-icu
      - xpack.security.enabled=true
      - ES_JAVA_OPTS=-Xms4g -Xmx4g
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536

    cap_add:
      - IPC_LOCK


    healthcheck:
      test: [ "CMD-SHELL", "curl -s -u elastic:elastic http://localhost:9200/_cluster/health || exit 1" ]
      interval: 10s
      retries: 5
      start_period: 20s
      timeout: 5s
    deploy:
      resources:
        limits:
          memory: 8g

volumes:
  elastic_data:

