<configuration>

  <!-- This issue is useful: https://github.com/micronaut-projects/micronaut-aws/issues/1687 -->
	<appender name="JSON_SYNC" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
			<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
				<prettyPrint>false</prettyPrint>
			</jsonFormatter>
			<timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
    </layout>
	</appender>

	<appender name="STDOUT_SYNC"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%cyan(%d{HH:mm:ss.SSS}) %white([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
			</pattern>
		</encoder>
	</appender>

  <!--
  <appender name='CLOUDWATCH' class='io.micronaut.aws.cloudwatch.logging.CloudWatchLoggingAppender'>
      <groupName>DCB</groupName>
      <streamName>DCB-Service</streamName>
      <createGroupAndStream>true</createGroupAndStream>
      <encoder class='ch.qos.logback.core.encoder.LayoutWrappingEncoder'>
          <layout class='ch.qos.logback.contrib.json.classic.JsonLayout'>
              <jsonFormatter class='io.micronaut.aws.cloudwatch.logging.CloudWatchJsonFormatter'/>
          </layout>
      </encoder>
  </appender>
	-->

	<appender name="STDOUT" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="JSON_SYNC" />
	</appender>

	<logger name="io.micronaut.http.client" level="WARN"/>
	<logger name="services.k_int.interaction" level="INFO"/>
	<logger name="org.olf.dcb.ingest.marc.MarcIngestSource" level="INFO"/>
	
	<logger name="io.r2dbc.postgresql.QUERY" level="ERROR"/>
	<logger name="io.micronaut.data.query" level="WARN"/>
	
	<!--
	<logger name="io.r2dbc.postgresql.QUERY" level="DEBUG"/>
	-->
	<!--
	<logger name="io.micronaut.data.query" level="DEBUG"/>
	-->

	<logger name="org.flywaydb" level="WARN"/>
	<logger name="org.flyway" level="WARN"/>
	<logger name="io.micronaut.flyway" level="WARN"/>
	<logger name="org.olf.dcb" level="INFO"/>
	
	<logger name="org.olf.dcb.core.svc" level="INFO"/>
	<logger name="org.olf.dcb.core.error" level="INFO"/>
	<logger name="org.olf.dcb.core.interaction" level="INFO" />
	<logger name="org.olf.dcb.tracking" level="INFO"/>
	<logger name="org.olf.dcb.request" level="INFO"/>
	<logger name="org.olf.dcb.ingest" level="INFO"/>
	<logger name="org.olf.dcb.indexing" level="INFO"/>
	<logger name="org.olf.dcb.core.svc.BibRecordService" level="INFO" />
	<logger name="org.olf.dcb.ingest.job" level="INFO" />
	<logger name="services.k_int" level="INFO"/>
	<logger name="org.olf.dcb.ingest.marc.MarcIngestSource" level="INFO"/>
	<logger name="io.micronaut.security.authentication" level="WARN" />
	<logger name="io.r2dbc" level="WARN" />
	<logger name="io.r2dbc.postgresql.PARAM" level="WARN" />
	<logger name="io.r2dbc.postgresql.client.ReactorNettyClient" level="WARN" />
	<logger name="io.micronaut.security" level="WARN" />
	
	
	<logger name="services.k_int.federation" level="INFO"/>
	<logger name="services.k_int.hazelcast" level="INFO"/>
	<logger name="org.olf.dcb.operations" level="INFO"/>
	
	<logger name="com.hazelcast" level="error" />
	<logger name="com.hazelcast.internal.cluster.ClusterService" level="INFO" />
	<logger name="org.olf.dcb.core.interaction.RelativeUriResolver" level="WARN" />

	<root level="info">
		<appender-ref ref="${DCB_LOG_APPENDERS:-STDOUT_SYNC}"/>
	</root>

</configuration>
