name: Formal Release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Cancel any in progress build of this same ref and run this one.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write

jobs:
  build:
    # runs-on: ubuntu-latest
    runs-on: ubuntu-22.04
    steps:
      # Need to checkout everything to ensure we have the tag info we need.
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2/repository
          key: ${{ runner.os }}-gradle-test-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle-test-
      - name: Setup GraalVM CE
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '17'
          distribution: 'graalvm'
          components: 'native-image'
      # - name: Install Native Image
      #   run: gu install native-image
      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.DOCKER_KINT_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_KINT_USERNAME }}
          password: ${{ secrets.DOCKER_KINT_PASSWORD }}
      - name: Build And Push Docker Image - Formal Release
        env:
          DOCKER_REPOSITORY_PATH: ${{ secrets.DOCKER_KINT_REPOSITORY_PATH }}
          DOCKER_REGISTRY_URL: ${{ secrets.DOCKER_KINT_REGISTRY_URL }}
          TESTCONTAINERS_RYUK_DISABLED: true
        run: |
          echo "git.tag=$GIT_TAG" > dcb/src/main/resources/git.properties
          echo "git.commit.id=$(git rev-parse HEAD)" >> dcb/src/main/resources/git.properties
          echo "git.branch=$(git rev-parse --abbrev-ref HEAD)" >> dcb/src/main/resources/git.properties
          export DOCKER_IMAGE=`echo "${DOCKER_REGISTRY_URL}/${DOCKER_REPOSITORY_PATH}/dcb" | sed -e 's#//#/#' -e 's#^/##'`
          ./gradlew check jacocoTestReport dockerPushNative dockerPush --no-daemon

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: "build/test-results/test/**/*.xml"

      - uses: actions/upload-artifact@v4
        if: always() # Upload artefacts even when build fails.
        with:
          name: Build Artifacts
          path: |
            **/build/reports
